## Add Element to a Set

In [1]:
num_set = {10, 30, 40, 50}
num_set.add(20)
print(num_set)

{40, 10, 50, 20, 30}

## Update Element to a Set

In [2]:
num_set = {2, 4, 6}
num_set.update([1, 3, 5])
print(num_set)

{1, 2, 3, 4, 5, 6}

## Delete an Element from a Set

In [4]:
num_set = {10, 20, 30, 40, 50}
num_set.remove(20)
print(num_set)

{40, 10, 50, 30}

## Clear Elements from a Set

In [5]:
num_set = {10, 20, 30, 40, 50}
num_set.clear()
print(num_set)

set()

## Union Operator

All element from both sets

In [6]:
set1 = {1,2,3}
set2 = {1,2,4}

set1.union(set2)

{1, 2, 3, 4}

In [7]:
set1|set2

{1, 2, 3, 4}

## Intersection Operator

Common elements in both sets

In [8]:
set1 = {1,2,3}
set2 = {1,2,4}

set1.intersection(set2)

{1, 2}

In [9]:
set1&set2

{1, 2}

## Difference Operator

Elements that are found in Set 1 but not in Set2

In [10]:
set1 = {1,2,3}
set2 = {1,2,4}
set1.difference(set2)

{3}

In [11]:
set1-set2

{3}

## Symmetric Difference Operator

Elements that are found in Set 1 but not in Set 2 and the other way around

In [12]:
set1 = {1,2,3}
set2 = {1,2,4}

set1.symmetric_difference(set2)

{3, 4}

In [13]:
set1^set2

{3, 4}

## In / not in Operators

In [14]:
set1 = {1,2,3}
set2 = {1,2,4}

1 in set1

True

In [15]:
set1 = {1,2,3}
set2 = {1,2,4}

3 in set2

False

In [16]:
set1 = {1,2,3}
set2 = {1,2,4}

3 not in set2

True

## Access Elements of a Dictionary

In [1]:
my_dictionary = {'name':'Keith', 'subject':'Python', 'score':97.50, 'ranking':1}
my_dictionary['name']

'Keith'

In [3]:
my_dictionary.get('name')

'Keith'